{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'production/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Número</th>
    <th>Lote</th>
    <th>Fecha de inicio</th>
    <th>Fecha de finalización</th>
    <th>Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block javascript_list %}
    <div class="modal fade" id="myModalDetails" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fa fa-search"></i> Detalle de la producción
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">
                                    <i class="fas fa-boxes"></i> Insumos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">
                                   <i class="fa-solid fa-seedling"></i> Injertos/Plantas
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane container-fluid active" id="home">
                                <br>
                                <table style="width:100%;" class="table table-bordered table-sm" id="tblResources">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%;">Código</th>
                                        <th style="width: 45%;">Insumo</th>
                                        <th style="width: 25%;">Categoría</th>
                                        <th style="width: 25%;">Cantidad</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane container-fluid fade" id="menu1">
                                <br>
                                <table style="width:100%;" class="table table-bordered table-sm" id="tblProducts">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%;">Código</th>
                                        <th style="width: 60%;">Nombre</th>
                                        <th style="width: 15%;">Tipo
                                        <th style="width: 15%;">Cantidad</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="form-group">
                <label>{{ form.date_range.label }}:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <div class="input-group-append">
                        <button class="btn btn-primary btnSearchAll" type="button">
                            <i class="fas fa-calendar-check"></i> Ver todas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

